* {
    box-sizing:border-box;
}
body{
    background-color: #67aade;
}
.header{
    margin:0px;
    width:100%;
    background-color: #3f5566;
    color: #ffffff;
    padding: 1px 0px 1px 30px;
}
.row{    
    width: 100%;
    justify-content: flex-start;
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    flex-flow: row wrap;
}
.all-columns{
    background: whitesmoke; 
    width: 15em;
    height: auto;
    border-radius: 3px;
    /*padding: 2em;*/
    margin: 1em;
    overflow: hidden;
    position: relative;
    flex: auto;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.footer {
    background-color: #3f5566;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
table {
    overflow-x:auto;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid white;
}
#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid white;
    font-size: 15px;
    /*margin-top: 30px;*/
    overflow-x: auto;
}
/* Style the th and data */
th, td {
    text-align: left;
    padding: 8px;
}
form{
    background:#3f5566;
    padding:1em;
    color:white;
}
input[type="text"]{
    margin: auto;
    display: block;
    width: 99%;
    padding:2%;
    color:black;
}
h2{
    text-align: center;
    padding:0px;
    margin:2%;
}
@media all and (max-width:425px){
div.panel {
    display: none;
}

div.panel.show {
    display: block !important;
}
}

input[type="submit"]{
    margin: auto;
    display: block;
    width: 99%;
    padding:2%;
    background-color: #67aade;
}